.main {
	width: 1275px;
	height: 1650px;
	margin: 0 auto;
	border: 1px solid black;
	padding:15px;
}
.title {
	width:100%;
	text-align: center;
}
.desc {
	padding:25px;
}

.viz {
	border: 1px solid chartreuse;
}

.ratings {
	border: 1px solid burlywood;
	height:600px;
}

.ratingName {
	text-align: right;
	padding-right: 0px;
	max-height: 50px;
	overflow: hidden;
}

.ratingCircles {
	z-left: 0px
}

.radar {
	border: 1px solid orangered;
	height:600px;
}

.pro {
	border: 1px solid red;
	height:400px;
}

.con {
	border: 1px solid blue;
	height:400px;
}
